In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

plt.rcParams['font.family'] = 'AppleGothic'  # 맥북에서 사용 가능한 한글 폰트
plt.rcParams['axes.unicode_minus'] = False  # 마이너스(-) 기호 깨짐 방지

In [23]:
df_1 = pd.read_csv('raw_data/youtube_info/구독자_조회수_추가_log_linear(최종)/rreal_final_all_youtubeAPI_info.csv', encoding='utf-8') # 기준 개수
df_2 = pd.read_csv('raw_data/thumbnails/thumbnails_hundred_text.csv', encoding='utf-8')
df_3 = pd.read_csv('raw_data/thumbnails/thumbnails_colors.csv', encoding='utf-8')
df_4 = pd.read_csv('raw_data/thumbnails/thumbnails_face_analysis_YOLOv8.csv', encoding='utf-8') # 정면 얼굴 비율 기준 0.15로 낮춘 것
df_5 = pd.read_csv('raw_data/audio_features/final_audio_features.csv', encoding='utf-8')
df_6 = pd.read_csv('raw_data/title_text/final_title_text.csv', encoding='utf-8')
df_7 = pd.read_csv('raw_data/thumbnails/thumbnails_objects.csv', encoding='utf-8')

In [24]:
df_4

      human_count  humanFront_count  humanFront_major     video_id
0               0                 0                 0  --dBpW4SZ4c
1               2                 0                 0  --jnJKG_GLs
2               0                 0                 0  -00pwdCwdvU
3               0                 0                 0  -0nL-17HuPc
4               0                 0                 0  -15mB0QcoBo
...           ...               ...               ...          ...
6406            1                 1                 0  zx_D664-B8o
6407            2                 1                 0  zz-3urCm5dE
6408            0                 0                 0  zzH868ejvIU
6409            1                 1                 0  zzypnV8VO-A
6410            0                 0                 0  zzzt5kV01Qs

[6411 rows x 4 columns]

In [27]:
df_1.columns

Index(['channel_title', 'subscriber_count_0511', 'title', 'video_url',
       'publish_date', 'thumbnail_url', 'views_0511', 'likes', 'comments',
       'hashtags', 'video_id', 'title_normalized', 'token_list', '감성', '일상',
       'views_0521', 'subscriber_count_0521', 'views_0522',
       'subscriber_count_0522', 'upload_elapsed_0511', 'upload_elapsed_0521',
       'upload_elapsed_0522', 'log_linear_views_180d_1',
       'log_linear_views_180d_2', 'log_linear_subs_180d_1',
       'log_linear_subs_180d_2', 'linear_views_180d_1', 'linear_subs_180d_1',
       'linear_views_180d_2', 'linear_subs_180d_2'],
      dtype='object')

In [29]:
import pandas as pd

# 예시: 문자열 쉼표로 나눠서 해시태그 수 세기
df_1['hashtag_count'] = df_1['hashtags'].fillna('').apply(
    lambda x: len([tag.strip() for tag in x.split(',') if tag.strip()])
)
df_1['hashtag_count']

0       14
1       14
2       14
3       14
4       14
        ..
6180     0
6181     0
6182     0
6183     0
6184     0
Name: hashtag_count, Length: 6185, dtype: int64

In [31]:
df_1 = df_1.loc[:, [
    'video_id', 'publish_date',
    'upload_elapsed_0511', 'upload_elapsed_0521', 'upload_elapsed_0522',
    'subscriber_count_0511', 'subscriber_count_0521', 'subscriber_count_0522',
    'log_linear_subs_180d_1', 'log_linear_subs_180d_2',
    'views_0511', 'views_0521', 'views_0522',
    'log_linear_views_180d_1', 'log_linear_views_180d_2',
    'linear_views_180d_1', 'linear_views_180d_2',
    'linear_subs_180d_1', 'linear_subs_180d_2',
    # 'viral_views_180d', 'nonviral_views_180d',
    'hashtag_count'
]]
df_2 = df_2
df_3 = df_3
df_4 = df_4
df_5 = df_5.loc[:, [
    'video_id', 'pitch_mean', 'energy_mean', 'centroid_mean', 'bpm',
    'speech_rate', 'initial_silence'
]]
df_6 = df_6
df_7 = df_7

In [33]:
df = pd.merge(df_1, df_2, how='inner', on='video_id')
df = pd.merge(df, df_3, how='inner', on='video_id')
df = pd.merge(df, df_4, how='inner', on='video_id')
df = pd.merge(df, df_5, how='inner', on='video_id')
df = pd.merge(df, df_6, how='inner', on='video_id')
df = pd.merge(df, df_7, how='inner', on='video_id')

df = df.round({col: 4 for col in df.select_dtypes(include='float').columns})
df

,video_id,publish_date,upload_elapsed_0511,upload_elapsed_0521,upload_elapsed_0522,subscriber_count_0511,subscriber_count_0521,subscriber_count_0522,log_linear_subs_180d_1,log_linear_subs_180d_2,...,char_length,has_emoji,emoji_ratio,speech_type,sensory,person,animal,anime,landscape,nonetype
0,s6suc9Xz0rM,2025-02-08 23:50:00,91,101,102,287000,289000.0,289000.0,300084.4185,298954.7380,...,70,1,0.0286,0,0,0,0,0,1,0
1,kERWAGtltBU,2025-02-01 23:50:00,98,108,109,287000,289000.0,289000.0,299514.7369,298430.4769,...,77,1,0.0519,0,0,0,0,0,0,1
2,8VcAaEfuc0s,2025-01-25 23:50:00,105,115,116,287000,289000.0,289000.0,298849.7519,297819.9812,...,67,1,0.0149,0,0,0,0,0,1,0
3,CI331OcJ8Do,2025-01-18 23:50:00,112,122,123,287000,289000.0,289000.0,298095.5548,297128.7405,...,69,1,0.0435,0,0,0,0,0,0,1
4,AOrtPpF1t7U,2025-01-11 23:50:00,119,129,130,287000,289000.0,289000.0,297257.5026,296361.5853,...,80,1,0.0500,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6180,fLNAk4NYOJU,2024-03-21 04:00:19,415,425,426,6590,6580.0,6580.0,6940.8185,6909.3025,...,48,1,0.0417,0,0,1,0,0,1,0
6181,Sh41rnVFlhU,2024-03-09 09:23:50,427,437,438,6590,6580.0,6580.0,6963.1567,6929.6228,...,55,1,0.0364,0,0,0,0,0,1,0
6182,z1UGEkHIoCY,2024-02-26 10:00:40,439,449,450,6590,6580.0,6580.0,6985.8282,6950.2459,...,48,1,0.0417,0,0,0,0,0,1,0
6183,xVaTzgcJttI,2024-02-22 04:03:09,443,453,454,6590,6580.0,6580.0,6993.4578,6957.1860,...,57,1,0.0351,0,0,1,0,0,0,0
6184,WEkYWyi1gfA,2024-02-19 04:00:11,446,456,457,6590,6580.0,6580.0,6999.2035,6962.4125,...,54,1,0.0556,0,0,1,0,0,1,0

In [35]:
df.to_csv('raw_data/final_data.csv', encoding='utf-8-sig', index=False)